<app-top-bar></app-top-bar>
<div *ngIf="gameInProgress; else gameFinished">
    <app-panel (endGame)="endGame($event)"></app-panel>
</div>
<ng-template #gameFinished>
    <div *ngIf="closureType == 'loser'; else gameFinishedVictory" class="container" style="margin-top: 50px;">
        <div class="row">
            <div class="col">
                <h3 style="color: red;">Fim de Jogo, infelizmente você perdeu 😢</h3>
                <button class="btn btn-primary" (click)="resetGame()">Jogar novamente</button>
            </div>
        </div>
    </div>
</ng-template>
<ng-template #gameFinishedVictory>
    <div class="container" style="margin-top: 50px;">
        <div class="row">
            <div class="col">
                <h3 style="color: green;">Fim de Jogo, você ganhou 😎</h3>
                <button class="btn btn-primary" (click)="resetGame()">Jogar novamente</button>
            </div>
        </div>
    </div>
</ng-template>